<% if !current_user %>
  <div class="ui text container banner">
    <h1 class="header">Welcome to Chatter!</h1>
    <h3>Chat with the World!</h3>
    <%= link_to "Sign Up", new_user_registration_path, class: "ui primary button" %>
    <%= link_to "Login", new_user_session_path, class: "ui teal button" %>
  </div>
<% else %>
  <div id="chat-app" data-channels=<%= Channel.all.to_json %>>Chat App</div>
  <% content_for :after_js do %>
    <%= javascript_pack_tag "chat_app" %>
  <% end %>
<% end %>
