<% if notice %>
  <div class="ui success message flash" role="alert">
    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="ui error message flash" role="alert">
    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
    <%= alert %>
  </div>
<% end %>
