<div class="ui large secondary pointing menu">
  <a class="item">Chatter</a>
  <div class="right menu">
    <a class="ui inverted button item">
      Sign-up
    </a>
    <a class="ui inverted button item">
      Login
    </a>
  </div>
</div>
