// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.banner {
  text-align: center;
}

.button {
  width: 10em;
}
.message-div {
  .message {
    margin: 0 0;
    .user-name {
      font-weight: bold;
    };
    .message-content {
      ;
    }
  };
  .timestamp {
    margin-bottom: .33em;
    font-style: italic;
    color: gray;
    font-size: .75em;
  };
}
.channel {
  height: 75vh;
  margin: auto;
  width: 100%;
  .messages {
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    height: 87%;
    overflow: scroll;
    padding: 20px;
    };
  .message-bar {
    height: 13%;
    width: 100%;
    .text-area {
      height: 100%;
      width: 85%;
      float: left;
    }
    textarea {
      border: 1px solid rgba(34,36,38,.15);
      border-radius: .28571429rem;
      height: 100%;
      width: 100%;
    };
  };
  .submit-button {
    width:20%;
    display: inline !important;
    input {
      width: 15%;
      margin: 0 0;
    }
  }
}
