// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.banner {
  text-align: center;
}

.button {
  width: 10em;
}

.channel {
  height: 75vh;
  margin: auto;
  width: 100%;
  .messages {
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    height: 87%;
    overflow: scroll;
    padding: 20px;
  };
  .message-bar {
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    height: 13%;
    padding: 0 5px 5px;
    width: 100%;
    textarea {
      height: 100%;
      width: 100%;
    }
  }
}
